@font-face {
	font-family: "brandon_grotesque_regularRg";
	src: url("../fonts/brandongrotesque-regular-webfont.eot");
	src: url("../fonts/brandongrotesque-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandongrotesque-regular-webfont.woff2") format("woff2"), url("../fonts/brandongrotesque-regular-webfont.woff") format("woff"), url("../fonts/brandongrotesque-regular-webfont.ttf") format("truetype"), url("../fonts/brandongrotesque-regular-webfont.svg#brandon_grotesque_regularRg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?vvdqot");
	src: url("../fonts/icomoon.eot?#iefixvvdqot") format("embedded-opentype"), url("../fonts/icomoon.ttf?vvdqot") format("truetype"), url("../fonts/icomoon.woff?vvdqot") format("woff"), url("../fonts/icomoon.svg?vvdqot#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: "icomoon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}

.icon-email:before {
	content: "\e601";
}

.icon-facebook:before {
	content: "\e602";
}

.icon-linkedin:before {
	content: "\e603";
}

.icon-icon-01:before {
	content: "\e604";
}

.icon-icon-02:before {
	content: "\e605";
}

.icon-icon-03:before {
	content: "\e606";
}

#footer:after {
	content: " ";
	display: block;
	clear: both;
}

.social-networks,
.onepage-pagination {
	margin: 0;
	padding: 0;
	list-style: none;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	color: #f1e597;
	background: #151515 url(../images/bg-body.png) 50% 0;
	font: 20px/1.8 "brandon_grotesque_regularRg", Arial, Helvetica, sans-serif;
	min-width: 320px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

body.viewing-page-2 {
	background-position: 50% 0;
}

body.viewing-page-3 {
	background-position: 50% 0;
}

* {
	max-height: 1000000px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

img {
	border-style: none;
	width: 100%;
	height: auto;
	vertical-align: top;
}

a {
	text-decoration: none;
	color: #f1e597;
}

a:hover {
	text-decoration: underline;
}

input,
textarea,
select {
	font: 100% "brandon_grotesque_regularRg", Arial, Helvetica, sans-serif;
	color: #fff;
	vertical-align: middle;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	margin: 0;
	padding: 4px 20px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: none;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	outline: none;
	color: #fff;
}

textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "brandon_grotesque_regularRg", Arial, Helvetica, sans-serif;
	line-height: 1.2em;
	margin: 0 0 1.2em;
}

p {
	margin: 0 0 1.2em;
}

q {
	quotes: none;
}

q:before,
q:after {
	content: "";
	content: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.gm-style img {
	max-width: none;
}

/* SITE HEADER */

	.siteHeader {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		overflow: hidden;
		padding: 50px;
		padding-bottom: 38px;
		z-index: 9999;
		background: rgba(0,0,0,0.35);
	}

	.headerLogo {
		width: auto;
		height: 50px;
		margin-top: -10px;
		float: left;
		display: block;
		overflow: hidden;
	}

	.headerLogo img {
		width: auto;
		height: 100%;
		margin: 0;
		display: block;
	}

	.headerNav {
		float: right;
		list-style: none;
		overflow: hidden;
		margin: 0;
		display: block;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		-webkit-padding-start: 0;
		margin-top: -2px;
	}

	.headerNav li {
		float: left;
		display: block;
		margin-left: 40px;
	}

	.headerNav li:first-child {
		margin-left: 0px;
	}

	.headerNav a {
		color: #F6E698;
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;
	}

	.headerNav a:hover {
		text-decoration: none;
		color: #fff;
	}

	.headerNav a.current,
	.headerNav a.current:hover {
		color: #fff;
	}

	@media only screen and (max-width: 750px) {

		.siteHeader {
			padding: 15px 0px;
		}

		.headerLogo {
			display: none;
		}

		.headerNav {
			float: none;
			width: 100%;
			margin: 0;
			text-align: center;
		}

		.headerNav li {
			float: none;
			margin-left: 5px;
			margin-right: 5px;
			display: inline-block;
		}

	}

/* END SITE HEADER */

#header {
	overflow: hidden;
	position: relative;
	width: 100%;
	padding: 0 !important;
	top: 0 !important;
}

#header.section-active .logo {
	opacity: 1;
}

#header.section-active .icon {
	opacity: 1;
}

.logo {
	position: absolute;
	right: 50%;
	top: 50%;
	width: 479px;
	opacity: 0;
	-webkit-transition: opacity 2s .2s ease;
	transition: opacity 2s .2s ease;
	-webkit-transform: translate(50%, -50%);
	-ms-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
}

@media only screen and (max-height: 800px) {

	.logo {
		width: 280px;
	}

}

.desktopLogo {
	display: block;
}

.mobileLogo {
	display: none;
}

@media only screen and (max-width: 750px) {

	.mobileLogo {
		display: block;
	}

	.desktopLogo {
		display: none;
	}

}

.icon {
	width: 66px;
	height: 66px;
	position: absolute;
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
	bottom: 80px;
	color: #f1e597;
	opacity: 0;
	-webkit-transition: opacity 2s .2s ease;
	transition: opacity 2s .2s ease;
	text-decoration: none;
}

.icon i {
	font-size: 66px;
	display: block;
	text-decoration: none;
}

.icon:hover {
	text-decoration: none;
	color: #fff;
}

#footer {
	width: 100%;
	position: relative;
	opacity: 0;
	margin: 20px 0 0;
}

#footer.section-active {
	opacity: 1;
}

#footer.section-active .footer-info {
	opacity: 1;
}

#footer.section-active .icon {
	opacity: 1;
}

.footer-info {
	position: absolute;
	right: 50%;
	-webkit-transform: translate(50%, -50%);
	-ms-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	width: 600px;
	top: 50%;
	font-size: 30px;
	line-height: 32px;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 1px;
	color: #fff;
	opacity: 0;
	-webkit-transition: opacity 2s .2s ease;
	transition: opacity 2s .2s ease;
}

.footer-info p {
	margin: 0 0 80px;
}

.social-networks {
	text-align: center;
	letter-spacing: -4px;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 100%;
}

.social-networks li {
	display: inline-block;
	vertical-align: top;
	padding: 2px 20px 0;
}

.social-networks a {
	display: block;
	width: 88px;
	height: 88px;
	letter-spacing: normal;
	color: #000;
	background: #f1e597;
	text-align: center;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
	position: relative;
	white-space: nowrap;
	border-radius: 50%;
}

.social-networks a:after {
	content: "";
	display: inline-block;
	height: 88px;
	width: 1px;
	overflow: hidden;
	margin: 0 0 0 -3px;
	vertical-align: middle;
}

.social-networks a i {
	font-size: 32px;
	line-height: 32px;
	vertical-align: middle;
	display: inline-block;
	white-space: normal;
}

.social-networks a:hover {
	text-decoration: none;
	opacity: .7;
}

body,
html {
	margin: 0;
	overflow-y: hidden;
}

body,
.onepage-wrapper,
html {
	display: block;
	position: static;
	padding: 0;
	width: 100%;
	height: 100%;
}

.onepage-wrapper {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	padding: 0;
	-webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
	width: 100%;
	height: 100%;
}

.onepage-pagination {
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: 5;
	list-style: none;
	margin: 0;
	padding: 0;
}

.onepage-pagination li {
	padding: 0;
	text-align: center;
	vertical-align: top;
}

.onepage-pagination li a {
	padding: 10px;
	width: 4px;
	height: 4px;
	display: block;
}

.onepage-pagination li a:before {
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	background: rgba(0, 0, 0, .85);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.onepage-pagination li a.active:before {
	width: 10px;
	height: 10px;
	background: none;
	border: 1px solid black;
	margin-top: -4px;
	left: 8px;
}

.disabled-onepage-scroll,
.disabled-onepage-scroll .wrapper {
	overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
	position: relative !important;
	top: auto !important;
	left: auto !important;
}

.disabled-onepage-scroll .onepage-wrapper {
	-webkit-transform: none !important;
	transform: none !important;
	-ms-transform: none !important;
	min-height: 100%;
}

.disabled-onepage-scroll .onepage-pagination {
	display: none;
}

body.disabled-onepage-scroll,
.disabled-onepage-scroll .onepage-wrapper,
html {
	position: inherit;
}

#main {
	overflow: hidden;
	width: 100%;
}

.onepage-wrapper .section {
	width: 100%;
}

.section {
	opacity: 0;
	position: relative;
	overflow: hidden;
	padding: 20px 0;
	width: 100%;
}

.section.section-active {
	opacity: 1;
}

.section.section-active .text {
	opacity: 1;
}

.section.section-active .icon {
	opacity: 1;
}

.section.section-active .icon:hover {
	color: #fff;
	text-decoration: none;
}

.section .text {
	position: absolute;
	right: 50%;
	top: 50%;
	width: 600px;
	text-align: justify;
	-webkit-transform: translate(50%, -50%);
	-ms-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	opacity: 0;
	-webkit-transition: opacity 2s .2s ease;
	transition: opacity 2s .2s ease;
	letter-spacing: 2px;
	word-spacing: 1px;
}

.section .text span {
	color: #fff;
}

.section .text p {
	margin: 0 0 40px;
}

.section .text strong {
	font-weight: normal;
	color: #fff;
	display: block;
	text-align: center;
}

.onepage-pagination {
	overflow: hidden;
	position: fixed;
	top: 50%;
	right: 10px;
	z-index: 5;
}

.onepage-pagination li {
	overflow: hidden;
	margin: 0 0;
}

.onepage-pagination li a {
	position: relative;
	padding: 10px;
	width: 4px;
	height: 4px;
	display: block;
	border-radius: 50%;
}

.onepage-pagination li a:before {
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	background: rgba(255, 255, 255, .85);
	border-radius: 10px;
}

.onepage-pagination li a:hover:before {
	width: 10px;
	height: 10px;
	background: none;
	border: 1px solid #fff;
	margin-top: -4px;
	left: 7px;
}

.onepage-pagination li a.active:before {
	width: 10px;
	height: 10px;
	background: #fff !important;
	border: 1px solid #fff;
	margin-top: -4px;
	left: 7px;
}

.onepage-pagination.hide {
	display: none;
}

@media only screen and (min-width: 1025px) {
	a[href^=tel],
	a[href^=skype],
	a[href^=sms] {
		cursor: default;
		pointer-events: none;
	}
}

@media (max-width: 1024px) {
	.logo {
		width: 316px;
	}

	.icon {
		width: 44px;
		height: 44px;
	}

	.icon i {
		font-size: 44px;
	}

	#footer {
		opacity: 1;
	}

	.footer-info {
		width: 52.08%;
	}

	.section {
		opacity: 1;
	}

	.section .text {
		font-size: 16px;
		line-height: 30px;
		width: 52.08%;
	}
}

@media (max-width: 1023px) {
	.footer-info p {
		margin: 0 0 64px;
	}

	.social-networks li {
		padding: 2px 16px 0;
	}

	.social-networks a {
		width: 66px;
		height: 66px;
	}

	.social-networks a:after {
		height: 66px;
	}

	.social-networks a i {
		font-size: 24px;
		line-height: 24px;
	}
}

@media (max-width: 767px) {
	.logo {
		width: 158px;
	}

	.icon {
		width: 22px;
		height: 22px;
	}

	.icon i {
		font-size: 22px;
	}

	.footer-info {
		font-size: 24px;
		line-height: 26px;
		width: 81.25%;
	}

	.footer-info p {
		margin: 0 0 34px;
	}

	.social-networks {
		width: 193px;
		margin: 0 auto;
	}

	.social-networks li {
		margin: 0 0 30px;
		padding: 2px 15px 0;
	}

	.section .text {
		font-size: 14px;
		line-height: 18px;
		width: 81.25%;
	}
}

@media only screen and (max-height: 799px) {
	.icon {
		bottom: 30px;
	}
}

@media only screen and (max-height: 669px) {
	#footer {
		margin: 0;
	}
}

