@media only screen and (max-width: 767px) and (orientation: landscape){
	#footer .row{
		margin:0 0 10px;
	}
	.form-contact{
		padding:0 0 30px;
		min-height: 0;
	}
	.form-contact input[type="text"],
	.form-contact input[type="email"]{
		height:32px;
		font-size:14px;
		line-height:16px;
		display:block;
	}
	.form-contact textarea{
		height: 112px;
		min-height: 112px;
	}
	.form-contact .progress-button{
		line-height:32px;
		font-size:14px;
	}
	.social-networks{
		display:none;
	}
	.icon{
		text-decoration:none;
	}
}