/* 
	
	Custom Typed style override for Contact Light.
	Based on the 'Whiskey' theme.

*/

/* Fonts */

	@font-face {
		font-family: "brandon_grotesque_regularRg";
		src: url("fonts/brandongrotesque-regular-webfont.eot");
		src: url("fonts/brandongrotesque-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/brandongrotesque-regular-webfont.woff2") format("woff2"), url("fonts/brandongrotesque-regular-webfont.woff") format("woff"), url("fonts/brandongrotesque-regular-webfont.ttf") format("truetype"), url("fonts/brandongrotesque-regular-webfont.svg#brandon_grotesque_regularRg") format("svg");
		font-weight: normal;
		font-style: normal;
	}

/* Body */
            
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    @-webkit-keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @-moz-keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @-ms-keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    @-o-keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

	body {
		background-color: #171817;
		background-image: url(img/bg.png);
		background-repeat: x y;
		background-position: top center;
		text-align: center;
		overflow-x: hidden;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		font-smoothing: antialiased;
		font-family: 'brandon_grotesque_regularRg', helvetica, arial, sans-serif;

        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: fadeIn;
        -moz-animation-name: fadeIn;
        -ms-animation-name: fadeIn;
        -o-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 0.75s;
        -moz-animation-duration: 0.75s;
        -ms-animation-duration: 0.75s;
        -o-animation-duration: 0.75s;
        animation-duration: 0.75s;
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -ms-animation-delay: 1s;
        -o-animation-delay: 1s;
        animation-delay: 1s;
	}

/* Misc */

	/* Links */

		a {
			color: #fff;
			border-bottom: 2px solid #F6E698;
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
			transition: 0.4s;
		}

		a:hover {
			border-color: #fff;
		}

/* Site */

	.siteContainer {
		width: 100%;
		overflow: hidden;
		position: relative;
	}

	.site {
		width: 100%;
		overflow: hidden;
		position: relative;
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		transition: 0.4s;
	}

	.site.menuVisible {
		margin-left: 256px;
	}

/* Header */

	.headerContainer {
		overflow: hidden;
	}

	.header {
		max-width: 1150px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		padding: 80px;
	}

	@media only screen and (max-width: 800px) {

		.headerContainer {
			height: 64px;
			background: #242624;
		}

		.header {
			padding: 0;
		}

	}

	/* Menu Toggle */

		.menuToggle {
			float: left;
			width: 64px;
			height: 64px;
			cursor: pointer;
			background-image: url(img/menu.png);
			background-size: 20px 13px;
			background-repeat: no-repeat;
			background-position: center;
			display: none;
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
			transition: 0.4s;
		}

		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

			.menuToggle {
				background-image: url(img/menu_2x.png);
			}

		}

		.menuToggle:hover,
		.menuToggle.menuVisible {
			background-color: rgba(255,255,255,0.05);
		}

		@media only screen and (max-width: 800px) {

			.menuToggle {
				display: block;
			}

		}

	/* Logo */

		.logo {
			float: left;
			display: block;
			width: 220px;
			height: 41px;
			background-image: url(img/logo.png);
			background-size: 220px 41px;
			background-repeat: no-repeat;
		}

		@media only screen and (min-width: 800px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

			.logo {
				background-image: url(img/logo_2x.png);
			}

		}

		@media only screen and (max-width: 800px) {

			.header {
				position: relative;
			}

			.logo {
				width: 125px;
				height: 10px;
				position: absolute;
				top: 50%;
				margin-top: -5px;
				left: 50%;
				margin-left: -62px;
				background-image: url(img/mobLogo.png);
				background-size: 125px 10px;
			}

		}

		@media only screen and (max-width: 800px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

			.logo {
				background-image: url(img/mobLogo_2x.png);
			}

		}

	/* Nav */

		.nav {
			float: right;
			list-style: none;
			overflow: hidden;
			margin-top: 18px;
			margin-bottom: -11px;
		}

		.nav li {
			float: left;
			margin-left: 40px;
		}

		.nav li:first-child {
			margin-left: 0;
		}

		.nav a {
			font-size: 16px;
			line-height: 20px;
			color: #F6E698;
			text-decoration: none;
			padding-bottom: 10px;
			border-bottom: 1px solid transparent;
			display: block;
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
			transition: 0.4s;
		}

		.nav a.current,
		.nav a:hover {
			color: #fff;
			border-bottom: 1px solid #fff;
		}

		@media only screen and (max-width: 800px) {

			.nav {
				display: none;
			}

		}

/* Flyout */

	.flyout {
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		bottom: 0;
		width: 256px;
		text-align: left;
		background: #242624;
		margin-left: -256px;
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		transition: 0.4s;
	}

		.flyout.menuVisible {
			margin-left: 0;
		}

	.menu {
		list-style: none;
		padding: 30px;
	}

	.menu li {
		display: block;
		margin-bottom: 30px;
	}

	.menu a {
		font-size: 16px;
		line-height: 20px;
		color: #F6E698;
		text-decoration: none;
		display: block;
		border: 0;
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		transition: 0.4s;
	}

	.menu a.current,
	.menu a:hover {
		color: #fff;
	}

/* Footer */

	.footerContainer {
		overflow: hidden;
	}

	.cl_footer {
		max-width: 1150px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		padding: 80px;
		font-size: 16px;
		line-height: 26px;
		color: rgb(255,255,255);
		color: rgba(255,255,255,0.25);
	}

	@media only screen and (max-width: 800px) {

		.footerContainer {
			border-top: 1px solid rgb(255,255,255);
			border-top: 1px solid rgba(255,255,255,0.05);
		}

		.cl_footer {
			padding: 30px;
		}

	}

	/* Copyright */

		.copyright {
			float: left;
		}

		@media only screen and (max-width: 800px) {

			.copyright {
				float: none;
				width: 100%;
				text-align: center;
			}

		}

	/* Nav */

		.footerNav {
			float: right;
			list-style: none;
			overflow: hidden;
		}

		.footerNav li {
			float: left;
			margin-left: 40px;
		}

		.footerNav li:first-child {
			margin-left: 0;
		}

		.footerNav a {
			font-size: 16px;
			line-height: 20px;
			color: rgb(255,255,255);
			color: rgba(255,255,255,0.25);
			text-decoration: none;
			display: block;
			border: 0;
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
			transition: 0.4s;
		}

		.footerNav a:hover {
			color: #fff;
		}

		@media only screen and (max-width: 800px) {

			.footerNav {
				float: none;
				width: 100%;
				text-align: center;
				margin-top: 15px;
			}

			.footerNav li {
				float: none;
				margin-left: 15px;
				margin-right: 15px;
				display: inline-block;
			}

			.footerNav li:first-child {
				margin-left: 15px;
			}

		}

/* TYPED STUFF */

	/* Site Header */

		.site-header,
		.site-header--mini,
		.site-header--mini.show-mini {
			display: none;
			visibility: hidden;
		}

		.menu-toggle {
			display: none;
		}

	/* Container */

		.container {
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
			text-align: left;
			padding: 0px 80px;
		}

		.main__inner {
			padding-bottom: 0;
		}

		@media only screen and (max-width: 800px) {

			.container {
				margin-top: 80px;
			}

		}

	/* Posts */

		.ribbon-container {
			display: none;
		}

		.latest-post__inner {
			border: 1px solid #F6E698;
		}

		.latest-post__inner {
			padding: 60px;
		}

		.post {
			border-top: 0;
			padding-top: 0px;
		}

		.post__inner {
			padding-top: 0;
			padding-bottom: 60px;
		}

		/* Title */

			.latest-post__title,
			.post-title {
				text-align: left;
			}

			.latest-post__title a,
			.post-title a,
			.post-title {
				font-family: 'brandon_grotesque_regularRg', helvetica, arial, sans-serif;
				color: #F6E698;
				font-size: 32px;
				line-height: 38px;
				font-weight: normal;
				border: 0;
				-webkit-transition: 0.4s;
				-moz-transition: 0.4s;
				transition: 0.4s;
			}

			.latest-post__title a:hover,
			.post-title a:hover {
				text-decoration: none;
				color: #fff;
			}

		/* Extras */

			.post-extras__date {
				font-size: 16px;
				line-height: 22px;
				color: #fff;
				color: rgba(255,255,255,0.75);
				font-family: 'brandon_grotesque_regularRg', helvetica, arial, sans-serif;
				font-style: normal;
			}

			.post-extras__date i {
				display: none;
			}

			.post-extras__date time {
				margin-right: 10px;
			}

		/* Tags */

			.post-tags {
				text-align: center;
				margin-top: 60px;
			}
			
			.post-tags i {
				display: none;
			}

			.post-tags a:hover {
				color: #fff;
				border-color: #fff;
			}

		/* Content */

			.latest-post__content,
			.content {
				font-size: 20px;
				line-height: 28px;
				color: #fff;
				text-align: left;
			}

		/* Read More */

			a.read-more {
				font-family: 'brandon_grotesque_regularRg', helvetica, arial, sans-serif;
				color: #fff;
				font-size: 20px;
				line-height: 28px;
			}

		/* Social */

			.post-extras__social {
				display: none;
			}

		/* Custom Tools */

			.customTools {
				margin-top: 60px;
				overflow: hidden;
				list-style: none;
				padding: 60px;
				border: 1px solid #f6e698;
				text-align: center;
			}

			.customTools li {
				display: inline-block;
				margin-left: 10px;
				margin-right: 10px;
			}

			.customTools a:hover {
				color: #fff;
			}

		/* Author */

			.post-footer {
				margin: 0;
				margin-top: 60px;
			}

			.post-footer__inner {
				border: 1px solid #F6E698;
				padding: 60px;
			}

			.author-bio h3 {
				color: #F6E698;
				font-weight: normal;
				font-family: 'brandon_grotesque_regularRg', helvetica, arial, sans-serif;
				font-size: 20px;
				line-height: 28px;
			}

			.author-bio {
				color: #fff;
				font-size: 20px;
				line-height: 28px;
				color: #fff;
			}

	/* Site Pagination */

		.site-pagination {
			border: 0;
			padding-top: 0;
		}

		.site-pagination a:hover {
			color: #fff;
			border-color: #fff;
		}

	/* Site Footer */

		.site-footer {
			display: none;
		}