#footer{
	@extend %clearfix;
	width:100%;
	position:relative;
	opacity: 0;
	margin:20px 0 0;
	@media only screen and (max-height: 669px){
		margin:0;
	}
	@include media('<=desktop'){
		opacity: 1;
	}
	&.section-active{
		opacity: 1;
		.form-contact{
			opacity: 1;
		}
		.icon{
			opacity: 1;
		}
	}
}

.form-contact{
	position:absolute;
	right:50%;
	top:50%;
	width:600px;
	padding:20px 0 140px;
	transform: translate(50%,-50%);
	letter-spacing: 2px;
	word-spacing: 1px;
	min-height: 500px;
	opacity: 0;
	transition:opacity 2s .2s ease;
	@include media("<=desktop") {
		width:52.08%;
	}
	@include media("<tablet") {
		width: 81.25%;
	}
	.row{
		overflow:hidden;
		margin:0 0 40px;
		@include media("<desktop") {
			margin:0 0 30px;
		}
		@include media("<tablet") {
			margin:0 0 20px;
		}
		@media only screen and (max-height: 799px){
			margin:0 0 20px;
		}
		&.error{
			textarea,
			input[type="text"]{
				color:$orange;
				border-bottom:2px solid $orange;
			}
		}
	}
	input[type="text"],
	input[type="email"]{
		font-size:30px;
		line-height:32px;
		width:100%;
		height:66px;
		background:$dark-gray-2;
		border-bottom:2px solid $gold;
		color:rgba(255,255,255,.15);
		@include set-placeholder-color(rgba(255,255,255,.15));
		&::-ms-clear{
			display:none;
		}
		@include media("<desktop") {
			font-size:24px;
			line-height:26px;
		}
		@media only screen and (max-height: 799px){
			font-size:24px;
			line-height:26px;
			height:66px;
		}
		@media only screen and (max-height: 799px) and (max-width: 767px){
			font-size:16px;
			line-height:18px;
			height:44px;
		}
		@include media("<tablet") {
			font-size:16px;
			line-height:18px;
			height:44px;
		}
		@media only screen and (max-height: 669px){
			font-size:16px;
			line-height:18px;
			height:44px;
		}
		&.text-active,
		&.focus{
			color:$white;
		}
	}
	textarea{
		font-size:30px;
		line-height:32px;
		width:100%;
		background:$dark-gray-2;
		border-bottom:2px solid $gold;
		color:rgba(255,255,255,.15);
		@include set-placeholder-color(rgba(255,255,255,.15));
		height: 278px;
		max-width: 100%;
		min-height: 278px;
		resize:none;
		padding:26px 20px;
		@include media("<desktop") {
			font-size:24px;
			line-height:26px;
			height: 180px;
			min-height: 180px;
		}
		@media only screen and (max-height: 799px){
			font-size:24px;
			line-height:26px;
			height: 180px;
			min-height: 180px;
		}
		@include media("<tablet") {
			font-size:16px;
			line-height:18px;
			height: 142px;
			min-height: 142px;
		}
		@media only screen and (max-height: 669px){
			font-size:16px;
			line-height:18px;
			height: 142px;
			min-height: 142px;
		}
		&.text-active,
		&.focus{
			color:$white;
		}
	}
	.progress-button{
		width:100%;
		line-height:66px;
		font-size:20px;
		color:#0d0d0d;
		margin:0;
		padding:0;
		border:none;
		outline: none;
		@media only screen and (max-height: 669px){
			line-height:44px;
			font-size:16px;
		}
		@media only screen and (max-height: 799px) and (max-width: 767px){
			line-height:44px;
			font-size:16px;
		}
		.progress{
			background: $gold;
		}
		.progress-inner {
			position: absolute;
			left: 0;
			background: $gold-2;
		}
		.content{
			&:before,
			&:after{
				color:$gold-2;
			}
		}
	}
	.progress-button .content {
		padding:0;
		width:100%;
		color:#0d0d0d;
	}
	&.complete{
		.progress-button{
			opacity: 1;
		}
	}
}

.progress-button .progress-wrap{
	transform-style: none;
}

.progress-button[data-style="rotate-angle-bottom"] .progress{
	transform: rotateX(-87deg);
	-webkit-transform: rotateX(-87deg);
	box-shadow: none;
	@media only screen and (max-height: 669px){
		transform: rotateX(-88deg);
	}
	@media only screen and (max-height: 799px) and (max-width: 767px){
		transform: rotateX(-88deg);
	}
}

.success-form .progress-button[data-style="rotate-angle-bottom"] .progress{
	transform: rotateX(-87deg);
	-webkit-transform: rotateX(-87deg);
	box-shadow: none;
	@include media("<tablet") {
		transform: rotateX(-88deg);
	}
	@media only screen and (max-height: 669px){
		transform: rotateX(-88deg);
	}
	@media only screen and (max-height: 799px) and (max-width: 767px){
		transform: rotateX(-88deg);
	}
}

.progress-button[data-style="rotate-angle-bottom"].state-loading .progress-wrap{
	transform: rotateX(0deg);
}

.success-form .progress-button[data-style="rotate-angle-bottom"].state-loading .progress-wrap {
	transform: rotateX(45deg);
}

.success-form .progress-button .progress-wrap{
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.social-networks{
	position:absolute;
	right:50%;
	transform: translateX(50%);
	width:100%;
	bottom: 60px;
	text-align:center;
	letter-spacing:-4px;
	font-size:0;
	line-height:0;
	overflow:hidden;
	@include media("<tablet") {
		bottom: 40px;
	}
	@media only screen and (max-height: 669px){
		bottom:15px;
	}
	@extend %listreset;
	li{
		display:inline-block;
		vertical-align:top;
		margin:0 10px;
	}
	a{
		display:block;
		width:32px;
		height:32px;
		font-size:32px;
		line-height:32px;
		letter-spacing:normal;
		color:$gold;
		transition:opacity 0.3s ease;
		@include media("<tablet") {
			width:18px;
			height:18px;
			font-size:18px;
			line-height:18px;
		}
		&:hover{
			text-decoration:none;
			opacity: .7;
		}
	}
}