// brand colors (http://name-of-color.com/)
$dark-gray:#151515;
$dark-gray-2:#0d0d0d;

$gold: #f1e597;
$gold-2: #bdb166;

$white: #fff;

$green: #148544;
$green-2: #0e7138;
$green-3: #1d9650;

$orange: #e68b08;

$black: #000;

// base variables
$base-text-color: $gold;
$base-background-color: $dark-gray;
$base-link-color:  $gold;
$base-form-text-color: $white;
$base-form-placeholder-color: $white;
$base-input-border-color: 0;
$base-form-button-bg: $gold;
$base-form-button-color: $dark-gray-2;

$base-font-size: 20px;
$base-line-height: 1.8;
$base-font-family: 'brandon_grotesque_regularRg', Arial, Helvetica, sans-serif;
$font-family-1: 'icomoon';
$base-text-interval: ($base-font-size * $base-line-height);

$base-min-width: 320px;
